@page
@model IndexModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @HttpContext.Session.GetString("username") to DSS System</h1>
    <br />
    <a class="btn btn-primary" asp-page="SignIn" asp-page-handler="logout">Logout</a>
</div>